<!DOCTYPE html>
<html>
    <head><title>home page</title>
     <link rel="stylesheet" href="/css/styelsheet.css">
    </head>
    <body>
        {{>header}}
        <p>this have been created by 2 api</p>
        {{>footer}}
        
    </body>
</html>