<!DOCTYPE html>
<html>
    <head><title>home page</title>
     <link rel="stylesheet" href="/css/styelsheet.css">
        
       </head>
    <body>
       <div class="contant">
          {{>header}}
        
       </div>
       
        {{>footer}}
    </body>
</html>